html * {
    font-family: var(--open-font-family);
}
body {
    margin: 0;
}
:root {
    --nav-item-color: #1a1a1a;
    --nav-item-active-color: white;
    --native-background-color: #f7cf00;
    --nav-item-hover-color: white;
    --nav-item-hover-background-color: #f9dd4b;
    --footer-background-color: #333;
    --footer-color: white;
    --ubuntu-font-family: Ubuntu, sans-serif;
    --open-font-family: 'Open Sans', sans-serif;
    /* --background-green: #108484; */
    /* #0F8080 */
    --background-green: #17cad0;
    --background-green-hover: #15b6bb;
    --background-magenta: #d954db;
    --background-gray: #e5e5e5;
    --background-gray-light: #f2f2f2;
    --background-color-4f4e5b: #4F4E5B;
    /* 108484 */
}